.roadmap{
    display: flex;
    flex-direction: column;
    margin: 1rem 0rem;
    padding: 0rem 0rem;
    font-family: 'Share Tech Mono', monospace, sans-serif;
    color: white;
}

.roadmap-header{
    padding: 0rem 0rem;
    margin: 1rem 0rem;
    align-self: center;
    text-align: center;
    background: transparent;
}

.roadmap-header h1{
    margin: 0rem 6rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.roadmap-phase{
    margin: 1rem 0rem;
    padding: 0rem 0rem;
    background: transparent;
    width: 60%;
}

.phase-title{
    text-transform: uppercase;
}

.phase-description{
    padding: 0 1rem;
}

.roadmap-left{
    
}
.roadmap-right{
    margin-left: auto;
}

.phase1-list{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: circle;
    list-style-position: inside;
    padding: 0 1rem;
}


