.team{
    width: 97.5%;
    height: 100%;
    padding: 1rem;
    font-family: 'Share Tech Mono', monospace, sans-serif;
}

.team-header{
    padding: 0rem 0rem;
    margin: 1rem 0rem;
    align-self: center;
    text-align: center;
    background: transparent;
}

.team-header h1{
    margin: 0rem 6rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}