.gallery{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5rem 0rem;
    font-family: 'Share Tech Mono', monospace, sans-serif;
}

.gallery-header{
    padding: 1rem 0rem 3.5rem 0rem;
    align-self: center;
    text-align: center;
    background: transparent;
}

.gallery-header h1{
    padding: 0rem 6rem;
    margin: 0rem;
    text-transform: uppercase;
    font-size: 4vh;
}

.grid-container{
    width: 95%;
    padding: 0rem 0rem;
}

@media(max-width: 1080px){
  .html{
    font-size: 200px;
  }
}

@media(max-width: 980px){
  .html{
    font-size: 12px;
  }
}

@media(max-width: 780px){
  .html{
    font-size: 10px;
  }
}

@media(max-width: 650px){
  .html{
    font-size: 8px;
  }
}

@media(max-width: 500px){
  .html{
    font-size: 6px;
  }
}