.gallery{
    width: 97.5%;
    height: 100%;
    padding: 2.5rem 1rem 0rem 1rem;
    font-family: 'Share Tech Mono', monospace, sans-serif;
}

.gallery-header{
    padding: 0rem 0rem;
    margin: 1rem 0rem 3rem 0rem;
    align-self: center;
    text-align: center;
    background: transparent;
}

.gallery-header h1{
    margin: 0rem 6rem;
    text-transform: uppercase;
    font-size: 2.5rem;
}