.book-section{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding: 1%;
}
.book-container{
    position: relative;
    display: flex;
    width: min-content;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.form-container{
    position: absolute;
    z-index: 1000;
    width: 50%;
    height: 50%;
    left: 0;
    bottom: 0;
    padding: 1% 1.5% 1.75%;
}
.form-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 50%;
    height: 50%;
    left: 42.5%;
    top: 42.5%;
}

.page{
    overflow: hidden;
}

.page-image-1_1-1_1{
    width: 100%;
    height: 100%;
    border: solid 0.5px rgba(0, 0, 0, 0.486);
}
.page-image-1_2-1_2{
    width: 100%;
    height: 48%;
    border: solid 0.5px rgba(0, 0, 0, 0.486);
}
.page1-panel-1{
    margin-bottom: 5%;
    background-color: black;
    background: url("../../assets/book/page1_full_panel1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.page1-panel-2{
    margin-top: 5%;
    background-color: black;
    background: url("../../assets/book/page1_full_panel2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.page2-panel-1{
    background-color: black;
    background: url("../../assets/book/page2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.page3-panel-1{
    background-color: black;
    background: url("../../assets/book/page3.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.page4-panel-1{
    background-color: black;
    background: url("../../assets/book/page4.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page0 {
    padding: 1.5%;
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.486);
    overflow: hidden;
}
.page1 {
    padding: 1.5%;
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.486);
    overflow: hidden;
}
.page2 {
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.486);
    overflow: hidden;
}
.page3 {
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.486);
    overflow: hidden;
}
.page4 {
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.486);
    overflow: hidden;
}
.page5 {
    padding: 1.5%;
    background: white;
    border: solid 1px rgba(0, 0, 0, 0.486);
    overflow: hidden;
}

.page-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.page-header {
    height: 30px;
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
}

.page-image {
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.page-text {
    height: 100%;
    flex-grow: 1;
    font-size: 80%;
    text-align: justify;
    margin-top: 10px;
    padding-top: 10px;
    box-sizing: border-box;
    border-top: solid 1px hsl(35, 55, 90);
}

.page-footer {
    height: 30px;
    border-top: solid 1px hsl(35, 55, 90);
    font-size: 80%;
    color: hsl(35, 20, 50);
}